{% extends '_base.html' %}
{% load crispy_forms_filters %}

{% load static %}

{% block page_title %}
    تغییر گذر واژه
{% endblock %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">changing password</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="contact-one">
        <div class="container">
            <div class="row">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-3 mb-3">
                        <button class="btn btn-success font-weight-bold" type="submit">ویرایش گذروازه</button>
                    </div>
                </form>
                <div class="d-grid gap-3 mb-3">
                    <a href="{% url 'account:profile' %}" class="btn btn-info font-weight-bold" type="submit">بازگشت به پروفایل</a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact-one -->
{% endblock %}