{% extends '_base.html' %}
{% load crispy_forms_filters %}

{% load static %}

{% block page_title %}
    تغییر گذر واژه
{% endblock %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">changing password</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="contact-one">
        <div class="container">
            <div class="row">
                <h2>گذرواژه با موفقیت تغییر یافت</h2>
                <div class="mt-3">
                    <a href="{% url 'home' %}"><input class="btn btn-info" type="submit" value="صفحه اصلی"></a>
                </div>
                <div class="mt-3">
                    <a href="{% url 'account:profile' %}"><input class="btn btn-info" type="submit" value="پروفایل"></a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact-one -->
{% endblock %}