{% extends '_base.html' %}
{% load crispy_forms_filters %}

{% load static %}

{% block page_title %}
    پروفایل کاربری
{% endblock %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">Profile - Hi {{ user.username }}</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="contact-one">
        <div class="container">
            <div class="row">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" value="ویرایش اطلاعات کاربری">
                </form>
                <div class="mt-3">
                    <a href="{% url 'home' %}"><input class="btn btn-info inline-block" type="submit" value="صفحه اصلی"></a>
                    <a href="{% url 'password_change' %}"><input class="btn btn-secondary" type="submit"
                                                                 value="تغییر گذرواژه"></a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact-one -->
{% endblock %}