{% extends '_base.html' %}

{% load crispy_forms_filters %}
{% load static %}

{% block page_title %}
    پروفایل کاربری
{% endblock %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">Profile - Hi {{ user.username }}</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="contact-one">
        <div class="container">
            <div class="row">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div style="height: 50px" class="d-grid gap-3 mb-3">
                        <button class="btn btn-success" style="font-size: 18px" type="submit">ویرایش اطلاعات کاربری</button>
                    </div>
                </form>
                <div style="height: 50px" class="d-grid gap-3">
                    <a href="{% url 'pdf-purchased' %}" class="btn btn-info" style="font-size: 18px" type="button">لینک دوره
                        های خریداری شده</a>
                    <a href="{% url 'password_change' %}" class="btn btn-warning" style="font-size: 18px" type="button">تغییر
                        رمز عبور</a>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <div class="d-grid gap-3">
                            <button style="font-size: 18px" class="btn btn-danger mb-5" href="{% url 'logout' %}">خروج از حساب کاربری</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact-one -->
{% endblock %}