{% extends '_base.html' %}

{% load static %}

{% block page_title %}
    درباره متدها
{% endblock %}

{% block content %}
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">About Methods and SwimSmartT</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <div class="container mt-5">
        <h1><strong>درباره سویم اسمارت و متدها</strong></h1>
    </div>
    <div class="container mt-5 mb-5"><h5> ️سویم اسمارت نخستین وب‌سایت ارائه دهنده‌ تمرینات شنا در ایران است که شامل
        ۳۰۰۰ تمرین روزانه در غالب چهار مِتُد از چهار کشور صاحب سبک و مطرح دنیا در رشته شنا می باشد.

         ️اين تمرینات بر پایه بروزترین مقالات علم تمرین شنا و مِتُد کتاب‌ های مربیان تراز اول شنای جهان ( اِرنِست
        مَگلِسکو & بیل سوییتنهام & مِلانی مارشال & دیان باکسول & باب بوومن & جیمز گیبسون و... ) و تمرين های روزانه
        شناگران عنوان دار المپیک و جهان ( کِلِب درِسل & آدام پیتی & سارا شوستروم & سونگ یانگ & کیتی لِدِکی و... ) طراحی
        شده که توسط تیمی از مربیان جوان و دلسوز ایرانی گردآوری، تهیه و به زبان ساده ترجمه و تألیف شده است.

        سویم اسمارت با ارائه سبک ها و روش‌های گوناگون تمرینی به شما کمک می کند تا کیفیت تمرینات خود را بالا ببرید و
        رکورد شناهای خود را ارتقاء دهید که بتوانید نتایج فوق‌العاده ای در مسابقات پیش رو کسب کنید</h5></div>

{% endblock %}
