{% extends '_base.html' %}
{% load static %}

{% block page_title %}فصل های تمرینات سرعتی{% endblock page_title %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">Types of seasons - AUS method</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="course-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="course-one__single">
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'usa-method' %}">فصل آماده سازی عمومی</a></h3>
                            <p>There are many variatin of passages of lorem ipsum available, but the majority have.</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'usa-method' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-lg-5 col-md-6">
                    <div class="course-one__single">
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'aus-method' %}">فصل آماده سازی اختصاصی</a></h3>
                            <p>There are many variatin of passages of lorem ipsum available, but the majority have.</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'aus-method' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
                <div class="col-lg-5 col-md-6">
                    <div class="course-one__single">
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'uk-method' %}">فصل آماده سازی رقابتی</a></h3>
                            <p>There are many variatin of passages of lorem ipsum available, but the majority have.</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'uk-method' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-lg-5 col-md-6">
                    <div class="course-one__single">
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'chn-method' %}">فصل آماده سازی تیپر</a></h3>
                            <p>There are many variatin of passages of lorem ipsum available, but the majority have.</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'chn-method' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

    </section><!-- /.course-one -->
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="mailto:needhelp@example.com"><i class="fa fa-shopping-cart"></i>خرید دوره یکساله تمرینات سرعتی</a>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__bottom -->
    <br><br><br><br><br>
{% endblock content %}