{% extends '_base.html' %}
{% load static %}
{% load persian_translation_tags %}
{% load humanize %}

{% block page_title %}
    سبد خرید
{% endblock %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">سبد خرید</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="pricing-one mt-1">
        <img src="assets/images/shapes/swimmer-contact-1.png" class="contact-one__swimmer" alt="">
        <div class="container">
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>حذف</th>
                        <th>نام دوره</th>
                        <th>نوع دوره</th>
                        <th>نوع متد</th>
                        <th>قیمت</th>
                        <th>واحد قیمت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        <tr>
                            <td>
                                <a href="{% url 'cart:cart-remove' item.product_obj.id %}">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                            <td>{{ item.product_obj.title }}</td>
                            <td>{{ item.product_obj.category.type_swimmer }}</td>
                            <td>{{ item.product_obj.category.method_name }}</td>
                            <td>{{ item.product_obj.price|intcomma|translate_number }}</td>
                            <td>تومان</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.table-responsive -->
        </div><!-- /.container -->
    </section><!-- /.pricing-one -->

    <form action="{% url 'cart:cart_clear' %}" method="POST">
        {% csrf_token %}
        <div class=" container d-grid gap-3 mb-5">
            <button class="btn btn-danger font-weight-bold" type="submit">خالی کردن سبد خرید</button>
        </div>
    </form>
    <hr><br>
    <div class="site-footer__bottom mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="mailto:needhelp@example.com" dir="rtl"><i class="fa fa-shopping-cart ml-3"></i>
                        <h3>ثبت سفارش | قیمت کل: {{ cart.get_total_price|intcomma|translate_number }} تومان </h3></a>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__bottom -->

{% endblock %}