{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block page_title %}
    تماس با ما
{% endblock %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">contact us</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="contact-one">
        <div class="container mr-5">
            <div class="row">
                <div class="col-xl-4">
                    <div class="contact-one__content">
                        <h3>water is<br>our world</h3>
                        <h4>برای تماس با ما و یا هر گونه سوال به آدرس ایمیل یا اینستاگرام ما مراجعه کنید</h4>
                        <div class="footer-widget__social contact-one__social">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope"></i></a>
                        </div><!-- /.contact-one__social -->
                    </div><!-- /.contact-one__content -->
                </div><!-- /.col-xl-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact-one -->
{% endblock %}