<footer class="site-footer-one">

    <div class="site-footer-one__bg" style="background-image: url(assets/images/background/footer-bg-1-1.jpg);"></div>
    <!-- /.site-footer-one__bg -->

    <!-- footer fishes -->
    <img src="assets/images/shapes/fish-f-1.png" alt="" class="site-footer__fish-1">
    <img src="assets/images/shapes/fish-f-2.png" alt="" class="site-footer__fish-2">
    <img src="assets/images/shapes/fish-f-3.png" alt="" class="site-footer__fish-3">

    <!-- footer trees -->
    <img src="assets/images/shapes/tree-f-1.png" class="site-footer__tree-1" alt="">
    <img src="assets/images/shapes/tree-f-2.png" class="site-footer__tree-2" alt="">

    <div class="site-footer-one__upper">
        <div class="container">
            <div class="footer-widget-row">
                <div class="footer-widget footer-widget__about">
                    <div class="footer-widget__inner">
                        <a href="index.html">
                            <img src="assets/images/logo-2-1.png" alt="" width="143">
                        </a>
                        <p>&copy; WATER IS OUR WORLD !<br>
                            SwimSmarT</p>
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
                <div class="footer-widget footer-widget__links__widget-1">
                    <div class="footer-widget__inner">
                        <h3 class="footer-widget__title">Company</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our History</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul><!-- /.footer-widget__links-list -->
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
                <div class="footer-widget footer-widget__links__widget-2">
                    <div class="footer-widget__inner">
                        <h3 class="footer-widget__title">Explore</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="#">Popular Courses</a></li>
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">Help Center</a></li>
                        </ul><!-- /.footer-widget__links-list -->
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
                <div class="footer-widget footer-widget__links__widget-3">
                    <div class="footer-widget__inner">
                        <h3 class="footer-widget__title">Links</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul><!-- /.footer-widget__links-list -->
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
                <div class="footer-widget footer-widget__social__widget">
                    <div class="footer-widget__inner">
                        <h3 class="footer-widget__title">Follow US</h3><!-- /.footer-widget__title -->
                        <div class="footer-widget__social">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope"></i></a>
                        </div><!-- /.footer-widget__social -->
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
            </div><!-- /.footer-widget-row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer-one__upper -->
</footer><!-- /.site-footer-one -->