{% load static %}

<footer class="site-footer-one">

    <div class="site-footer-one__upper">
        <div class="container">
            <div class="footer-widget-row">
                <div class="footer-widget footer-widget__about">
                    <div class="footer-widget__inner">
                        <br>
                        <img src="{% static 'assets/images/logo3.png' %}" alt="" width="170">
                        <p>تمامی حقوق این سایت متعلق به
                            سویم اسمارت می باشد &copy;</p>
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
                <div class="footer-widget footer-widget__links__widget-1">
                    <div class="footer-widget__inner">
                        <h3 class="footer-widget__title">Company</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="{% url 'about-methods' %}">درباره ما و متدها</a></li>
                            <li><a href="{% url 'contact' %}">تماس با ما</a></li>
                        </ul><!-- /.footer-widget__links-list -->
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
                <div class="footer-widget footer-widget__links__widget-2">
                    <div class="footer-widget__inner">
                        <h3 class="footer-widget__title">Links</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="{% url 'guide-exercise' %}">راهنمای تمرینات</a></li>
                            <li><a href="{% url 'warm-up-and-cold-down' %}">راهنمای گرم کردن و سرد کردن</a></li>
                        </ul><!-- /.footer-widget__links-list -->
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
                <div class="footer-widget footer-widget__links__widget-3">
                    <div class="footer-widget__inner">
                        <h3 class="footer-widget__title">Explore</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="https://irsf.ir/" target="_blank">فدراسیون شنای ایران</a></li>
                            <li><a href="https://www.lifesaving.ir/" target="_blank">فدراسیون نجات غریق ایران</a></li>
                            <li><a href="https://www.worldaquatics.com/" target="_blank">فدراسیون جهانی شنا</a></li>
                        </ul><!-- /.footer-widget__links-list -->
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
                <div class="footer-widget footer-widget__social__widget">
                    <div class="footer-widget__inner">
                        <h3 class="footer-widget__title">Follow US</h3><!-- /.footer-widget__title -->
                        <div class="footer-widget__social">
                            <a target="_blank" href="https://www.instagram.com/swimsmart.ir?igsh=ZDJxYmtpbmVja3Vo/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="mailto:info@swimsmart.ir"><i class="fa fa-envelope"></i></a>
                        </div><!-- /.footer-widget__social -->
                    </div><!-- /.footer-widget__inner -->
                </div><!-- /.footer-widget -->
            </div><!-- /.footer-widget-row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer-one__upper -->
</footer><!-- /.site-footer-one -->