{% extends '_base.html' %}

{% load static %}

{% block page_title %}
    راهنمای تمرینات
{% endblock %}

{% block content %}
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">About swimming exercises</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <div class="container mt-5">
        <h1><strong>راهنمای تمرینات شنا</strong></h1>
    </div>
    <div class="container mt-5 mb-5"><p>
        شنا و استراحت به مجموع تایم مسافت طی شده و استراحت بعد آن گفته میشود که نباید از زمان تعیین شده در آن آیتم
        تمرینی بیشتر شود.
        استراحت ۲۰ یا ۳۰ یا... ثانيه : به معني استراحت مابین هر مسافت طی شده دريك ايتم تمرینی میباشد. نکته: اگر امکان
        اندازه گيري زمان براي شما وجود نداشت میتوانید استراحت ها را با تعداد هواگیری انجام دهید به عنوان مثال ۱۰ ثانيه
        يعني ۵ هواگيري / ۲۰ ثانيه يعني ١٠ هواگيري / ٣٠ ثانيه يعني ۱۵ هواگيري )
        ضربان ۲۳ تا ۲۵ یا ۲۵ تا ۲۷: به این معناست که تعداد ضربان قلب شناگر در ۱۰ ثانیه باید طبق این اعداد باشد. استریم
        لاین : یعنی دستها به روي هم بالای سر به همراه با وبدن صاف و کشیده که در انجام عمل استارت و سر خوردن بکار میرود
        شنای مختلط به معني هر چهار شنا / ۱۰۰ مختلط يعني چهارتا ۲۵ متر /۲۰۰ مختلط يعني چهارتا ۵۰ متر / ۴۰۰ مختلط يعني
        چهارتا ۱۰۰ متر که به ترتیب شناي پروانه شنای کرال پشت - شناي قورباغه - شنای کرال سینه میباشد.
        ماکسیمم یا رکوردگیری: به معني حداکثر سرعت و توان درانجام آيتم تمريني و ثبت رکوردهاي بدست آمده به منظور بازسازي
        شرایط مسابقه میباشد.
        دايو : به معني پاي دلفین زیر آب میباشد.
        دریل به مجموعه اي از تمرینات که براي رفع نقاط ضعف واصلاح ايرادات تكنيكي شناگر اجرا میگردد گفته میشود که در
        هرشناگر متفاوت است و باید مطابق با ویژگی های بدني وتكنيكي آن ها طراحي و انجام شود.
        پاي ورتيكال : به معني تمرین پا به صورت عمودی میباشد.
        فين عكس كفي: عكس اسنوركل عكس چترمقاومتي:عکس
        کش assisteresist عکس تخته شنا عکس دوقلو عکس</p></div>

{% endblock %}
