{% extends '_base.html' %}

{% load static %}

{% block page_title %}
    راهنمای تمرینات
{% endblock %}

{% block content %}
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">About swimming exercises</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <div class="container mt-5">
        <h1><strong>راهنمای تمرینات شنا</strong></h1>
        <div class="container mt-3 mb-5">
            <a style="font-size: 35px" href="{% static 'assets/inc/guide-exercise.pdf' %}" download>< Download File
                ></a>
        </div>
    </div>

{% endblock %}
