{% extends '_base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}Home{% endblock page_title %}</title>
</head>
<body>
{% block content %}

    <section class="testimonials-one__title testimonials-one__title__home-two">
        <div class="testimonials-one__bg"
             style="background-image: url({% static 'assets/images/background/home-background.jpg' %});"></div>
        <!-- /.testimonials-one__bg -->
        <div class="container">

            <div class="block-title text-center">
                <div class="site-footer__bottom">
                    <div class="container">
                        <div class="row">
                            <h3 class="text-uppercase">هوشمندانه <br>شنا کن</h3>
                            <div class="col-lg-12 mt-5">
                                <a style="border-radius: 8px;" href="{% url 'about-methods' %}"><i class="fa fa-book-open"></i><h4>درباره متد های
                                    شنا</h4></a>
                            </div><!-- /.col-lg-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.site-footer__bottom -->
            </div>
        </div>
    </section><!-- /.testimonials-one__title -->

    <section class="course-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="course-one__single">
                        <div class="course-one__image">
                            <a href="{% url 'gym' %}">
                                <div class="course-one__image-inner">
                                    <img src="{% static 'assets/images/courses/gym.jpg' %}"
                                         alt="ّFoto">
                                </div><!-- /.course-one__image-inner --></a>
                        </div><!-- /.course-one__image -->
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'gym' %}">* بدنسازی تخصصی شنا *</a></h3>
                            <p>مجموعه ای از تمرینات است که برای بالا بردن آمادگی جسمانی و بهبود عملکرد شناگران در آب می باشد</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'gym' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->

                <div class="col-lg-3 col-md-5">
                    <div class="course-one__single">
                        <div class="course-one__image">
                            <a href="{% url 'usa-method' %}">
                                <div class="course-one__image-inner">
                                    <img src="{% static 'assets/images/courses/us-flag.jpg' %}" alt="">
                                </div><!-- /.course-one__image-inner --></a>
                        </div><!-- /.course-one__image -->
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'usa-method' %}">متد شنای کشور آمریکا</a></h3>
                            <p>متد شنای آمریکا یک متد محبوب و استاندارد در شنا است که توسط انجمن شنای آمریکا تنظیم و
                                اجرا شده است
                            </p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'usa-method' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->

                <div class="col-lg-3 col-md-5">
                    <div class="course-one__single">
                        <div class="course-one__image">
                            <a href="{% url 'aus-method' %}">
                                <div class="course-one__image-inner">
                                    <img src="{% static 'assets/images/courses/as-flag.jpg' %}" alt="">
                                </div><!-- /.course-one__image-inner --></a>
                        </div><!-- /.course-one__image -->
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'aus-method' %}">متد شنای کشور استرالیا</a></h3>
                            <p>متد شنای استرالیا که همچنین به عنوان "متد شنای استرالیا-نیوزیلند" شناخته می‌شود، یک متد
                                مطرح در شنا و با کیفیت است</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'aus-method' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
                <div class="col-lg-3 col-md-5">
                    <div class="course-one__single">
                        <div class="course-one__image">
                            <a href="{% url 'uk-method' %}">
                                <div class="course-one__image-inner">
                                    <img src="{% static 'assets/images/courses/uk-flag.jpg' %}" alt="">
                                </div><!-- /.course-one__image-inner --></a>
                        </div><!-- /.course-one__image -->
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'uk-method' %}">متد شنای کشور انگلیس</a></h3>
                            <p>متد شنای انگلیس بر پایه تمرینات مربیان مطرح انگلیسی (بیل سویتهام و جیمز گیبسن و ملانی
                                مارشال) طراحی شده است</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'uk-method' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->

                <div class="col-lg-3 col-md-5">
                    <div class="course-one__single">
                        <div class="course-one__image">
                            <a href="{% url 'chn-method' %}">
                                <div class="course-one__image-inner">
                                    <img src="{% static 'assets/images/courses/ch-flag.jpg' %}" alt="">
                                </div><!-- /.course-one__image-inner --></a>
                        </div><!-- /.course-one__image -->
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'chn-method' %}">متد شنای کشور چین</a></h3>
                            <p>متد شنای چین یک سبک جدید از تمرینات نوآوری شده و بیش تر بر پایه تمرینات هوازی و استقامتی
                                می باشد</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'chn-method' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.course-one -->
{% endblock content %}
</body>
</html>