{% extends '_base.html' %}

{% load static %}
{% load persian_translation_tags %}
{% load humanize %}

{% block page_title %}
    ثبت سفارش
{% endblock %}

{% block content %}

    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">ثبت سفارش</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="pricing-one">
        <img src="assets/images/shapes/swimmer-contact-1.png" class="contact-one__swimmer" alt="">
        <div class="container">
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>نام دوره</th>
                        <th>نوع دوره</th>
                        <th>نوع متد</th>
                        <th>قیمت</th>
                        <th>واحد قیمت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        <tr>
                            <td>{{ item.product_obj.title }}</td>
                            <td>{{ item.product_obj.category.type_swimmer }}</td>
                            <td>{{ item.product_obj.category.method_name }}</td>
                            <td>{{ item.product_obj.price|intcomma|translate_number }}</td>
                            <td>تومان</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.table-responsive -->
        </div><!-- /.container -->
    </section><!-- /.pricing-one -->

    <div class="container">
        <form action="assets/inc/sendemail.php" class="contact-one__form contact-form-validated">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" placeholder="Full Name" name="name">
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <input type="text" placeholder="Email Address" name="email">
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <input type="text" placeholder="Phone number" name="phone">
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <select class="selectpicker" name="service">
                        <option value="">Discussion For</option>
                        <option value="About Course">Query For Courses</option>
                        <option value="About Pricing">Query For Pricing</option>
                    </select>
                </div><!-- /.col-md-6 -->
                <div class="col-md-12">
                    <input type="text" placeholder="Subject" name="subject">
                </div><!-- /.col-md-12 -->
                <div class="col-md-12">
                    <textarea name="message" placeholder="Messages"></textarea>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </form><!-- /.contact-one__form -->
        <div class="result"></div><!-- /.result -->
    </div><!-- /.col-xl-8 -->

    <div class="site-footer__bottom mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="mailto:needhelp@example.com" dir="rtl"><i class="fa fa-shopping-cart ml-3"></i>
                        <h3> پرداخت | قیمت کل: {{ cart.get_total_price|intcomma|translate_number }} تومان </h3></a>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__bottom -->
{% endblock %}