{% extends '_base.html' %}

{% load static %}

{% block page_title %}
    لینک دوره های خریداری شده
{% endblock %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">لینک دوره های خریداری شده</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->
    <section class="pricing-one">
        <div class="container">
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>نام دوره</th>
                        <th>نوع دوره</th>
                        <th>نوع متد</th>
                        <th>لینک</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pdfs %}
                        {% for pdf in pdfs %}
                            <tr>
                                <td>{{ pdf.product.title }}</td>
                                <td>{{ pdf.product.category.type_swimmer }}</td>
                                <td>{{ pdf.product.category.method_name }}</td>
                                <td><a target="_blank" href="{{ pdf.pdf_file.url }}">دانلود فایل تمرین</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="container mb-5" align="center" style="font-size: 30px">
                            <p class="font-weight-bold"> ! دوره ای هنوز خریداری نشده است</p>
                        </div>
                    {% endif %}
                    </tbody>
                </table>
            </div><!-- /.table-responsive -->
        </div><!-- /.container -->
    </section><!-- /.pricing-one -->
{% endblock %}