<div class="topbar-one">
    <div class="container">
        <div class="topbar-one__left">
            {% if user.is_authenticated %}
                <i>Welcome {{ user.username }}</i>&nbsp;&nbsp;<a href="#">Profile</a><a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a><a href="{% url 'signup' %}">Register</a>
            {% endif %}
        </div><!-- /.topbar-one__left -->
        <div class="topbar-one__social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
        </div><!-- /.topbar-one__social -->
    </div><!-- /.container -->
</div><!-- /.topbar-one -->
