<div class="topbar-one">
    <div class="container">
        <div class="topbar-one__left">
            {% if user.is_authenticated %}
                <h4 style="color:#000000">Welcome {{ user.username }}</h4>&nbsp;&nbsp;<a href="{% url 'account:profile' %}"><h5>پروفایل</h5></a><a href="{% url 'logout' %}"><h5>خروج</h5></a>
            {% else %}
                <a href="{% url 'login' %}"><h5>ورود</h5></a><a href="{% url 'account:signup' %}"><h5>ثبت نام</h5></a>
            {% endif %}
        </div><!-- /.topbar-one__left -->
        <div class="topbar-one__social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
        </div><!-- /.topbar-one__social -->
    </div><!-- /.container -->
</div><!-- /.topbar-one -->
