{% extends '_base.html' %}
{% load static %}

{% block page_title %}نوع تمرین{% endblock page_title %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">انواع تمرینات | متد انگلیس</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="course-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="course-one__single">
                        <div class="course-one__image">
                            <a href="{% url 'uk-method-fast' %}">
                                <div class="course-one__image-inner">
                                    <img src="{% static 'assets/images/courses/swim7.jpg' %}" alt="">
                                </div><!-- /.course-one__image-inner -->
                            </a>
                        </div><!-- /.course-one__image -->
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'uk-method-fast' %}">تمرینات شناگران سرعتی</a></h3>
                            <p>این تمرینات مختص شناگرانی است که در رشته های 50 متر و 100 متر شنا های مختلف مسابقه می دهند</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'uk-method-fast' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
                <div class="col-lg-4 col-md-6">
                    <div class="course-one__single">
                        <div class="course-one__image">
                            <a href="{% url 'uk-method-semi-endu' %}">
                                <div class="course-one__image-inner">
                                    <img src="{% static 'assets/images/courses/swim8.jpg' %}" alt="">
                                </div><!-- /.course-one__image-inner -->
                            </a>
                        </div><!-- /.course-one__image -->
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'uk-method-semi-endu' %}">تمرینات شناگران نیمه استقامتی</a></h3>
                            <p>این تمرینات مختص شناگرانی است که در رشته های 200 متر و 400 متر شنا های مختلف مسابقه می دهند</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'uk-method-semi-endu' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
                <div class="col-lg-4 col-md-6">
                    <div class="course-one__single">
                        <div class="course-one__image">
                            <a href="{% url 'uk-method-endu' %}">
                                <div class="course-one__image-inner">
                                    <img src="{% static 'assets/images/courses/swim9.jpg' %}" alt="">
                                </div><!-- /.course-one__image-inner -->
                            </a>
                        </div><!-- /.course-one__image -->
                        <div class="course-one__content hvr-sweep-to-bottom">
                            <h3><a href="{% url 'uk-method-endu' %}">تمرینات شناگران استقامتی</a></h3>
                            <p>این تمرینات مختص شناگرانی است که در رشته های 800 / 1500 متر و آب های آزاد در شنای کرال سینه مسابقه می دهند</p>
                        </div><!-- /.course-one__content -->
                        <a href="{% url 'uk-method-endu' %}" class="course-one__book-link">انتخاب</a>
                    </div><!-- /.course-one__single -->
                </div><!-- /.col-lg-4 col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.course-one -->
{% endblock %}
