{% extends '_base.html' %}

{% load static %}

{% block page_title %}
    راهنمای گرم کردن و سرد کردن
{% endblock %}

{% block content %}
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url({% static 'assets/images/background/footer-bg-1-1.jpg' %});"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">About warm up and cold down</h2><!-- /.page-header__title -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <div class="container mt-5">
        <h1><strong>راهنمای گرم کردن و سرد کردن</strong></h1>
    </div>
    <div class="container mt-5 mb-5"><h5> فرآیند گرم کردن داخل آب بین ۵۰۰ تا ۱۰۰۰ متر در آغاز هر جلسه تمرینی است که می
        توان طبق ویژگی های فیزیولوژیکی بدن شناگر ، شرایط محیطی و نوع تمرين و محدودیت های زمانی و... به شکل دلخواه در
        متراژ و نوع شناها انجام شود که شامل آیتم هایی مانند : شنای کامل‌ ، پا ، دست ، دریل ها ، بازی با سرعت و... میباشد
        .
        اما توجه داشته باشید که بهتر است گرم‌کردن شما به صورت شنای مختلط طراحی شود تا تمام عضلات‌ درگیر در هر چهار شنا
        به آمادگی لازم برای انجام‌ تمرین برسند و احتمال آسیب دیدگی کاهش یابد .

        فرآیند سردکردن داخل آب بین ۴۰۰ تا ۸۰۰ متر به شکل دلخواه در متراژ و نوع شناها می‌باشد که بازهم توصیه می شود به
        صورت شنای مختلط طراحی و انجام شود زیرا باعث دفع اسیدلاکتیک نهفته در بافت های تمام عضلات درگیر در هر چهار شنا و
        جلوگیری از گرفتگی آن ها می‌شود </h5></div>

{% endblock %}
